[Unit]
Description=i3lock on suspend
Before=sleep.target

[Service]
User=pospi
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/pospi/.config/i3/i3lock.sh suspend

[Install]
WantedBy=sleep.target
